REDIS_HOST=localhost
REDIS_PORT=6379

CASSANDRA_USERNAME=cassandra
CASSANDRA_PASSWORD=cassandra

CASSANDRA_HOSTS=cassandra
CASSANDRA_PORT=9042

KAFKA_HOST=localhost
KAFKA_PORT=29092
KAFKA_TOPIC=
KAFKA_GROUP_ID=

MONGO_HOST=localhost
MONGO_PORT=27017

MONGO_USERNAME=mongo
MONGO_PASSWORD=mongo

PUSHER_CHANNEL=my-channel
PUSHER_EVENT=my-event

OPENAI_API_KEY=

GPT_QUESTION_PREFIX=

ENV_MODE=development

